<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index.ejs</title>

    <link rel="stylesheet" href="assets/css/style.css" media="screen">

  </head>
  <body>
<h1>eBay fees calculator</h1>
  </body>
</html>
