<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index.ejs</title>

    <link rel="stylesheet" href="/assets/css/style.css" media="screen">

  </head>
  <body>

<h1>Net return on sale</h1>

<h1>Authentication</h1>

<p>Login or Register with:</p>

<a href="/login"> Local Login</a>
<a href="/signup"> Local Signup</a>


  </body>
</html>
