<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="col-sm-6 col-sm-offset-3">

        <h1>Login</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div>
                <label>Email</label>
                <input type="text" name="email">
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password">
            </div>

            <button type="submit">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

  </body>
</html>
